<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Abhipraya public survey location check" stopProcessing="true">
          <match url="^v1/public-survey/location/?$" />
          <action type="Rewrite" url="modules/public-survey/v1/location.php" appendQueryString="true" />
        </rule>
        <rule name="Abhipraya versioned API router" stopProcessing="true">
          <match url="^v[0-9]+/(.*)$" />
          <action type="Rewrite" url="index.php?path=/{R:0}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
